/* 引入外部字体 */
@font-face{
    font-family: 'lxgw wenkai';
    src : url('fonts/LXGWWenKaiLite-Regular.ttf');
}

/* 整个页面 */
body {
    /* font-family: Source Han Sans CN; */
    font-family: lxgw wenkai;
    -webkit-font-smoothing: antialiased;
    background-color: #F9F5DE 
}

/* 主要内容一列 */
.content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 240px;
    max-width: 760px;
    display: grid;
    row-gap: 2rem;
    text-align: center;   
}

/* Khun's blog 标题 */
.title {
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 220, 100, 1);
    text-decoration-style:solid;
    text-decoration-thickness: 0.6rem;
    font-size: xx-large;
}

/* Articles About 标题 */
.category {
    text-decoration-line: none;
    font-size:larger;
    color: black;
    margin-right: 4%;
    margin-left: 4%;
}

/* 分隔线 */
.header-line {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-color: #482936;
    border-style:solid none none none;
}

/* 正文内链接 */
.link {
    text-decoration-line: underline;
    text-decoration-color: rgba(186, 232, 232, 1);
    text-decoration-style: solid;
    text-decoration-thickness: 0.4rem;
    color: black;
}

/* Articles 正文格式 */
.articles {
    padding-left: 15%;
    padding-right: 20%;
    text-align: center;
    font-size: medium;
    line-height: 2rem;
}

/* About 正文格式 */
.about {
    /* padding-left: 20%;
    padding-right: 20%; */
    font-family: bree serif;
    font-weight: 600;
    text-align: left;
    font-size: medium;
    line-height: 2rem;
}



.copyright {
    font-size: small;
}
