.entire {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 240px;
    max-width: 800px;
    font-family: "PingFang SC", "Noto Sans CJK", "Source Han Sans", "Microsoft Yahei", source-han-sans-simplified-c, sans-serif;
    display: grid;
    row-gap: 3%;
    text-align: center;   
}

.title {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 220, 100, 1);
    text-decoration-style:solid;
    text-decoration-thickness: 0.8rem;
}

.about {
    padding-left: 24%;
    padding-right: 16%;
    text-align: left;
    font-size:medium;
    line-height: 2rem;
}

.link {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: rgba(186, 232, 232, 1);
    text-decoration-style: solid;
    text-decoration-thickness: 0.4rem;
}

/* .line {
        width: 100%;
        height: 1px;
        border-top: solid #ACC0D8 1px;
}  */

/* 
.picture {
    height: 50%; 
    width: 50%;
    border-radius: 50%;
    float: left;
} */

/* .done {
    border: 2px solid rgba(182, 197, 196, 0.7);
    background-color: rgba(186, 232, 232, 0.5);
    font-size:large;
    box-shadow: 12px 12px 2px 1px rgba(182, 197, 196, 0.5);
    color: rgba(65, 65, 65, 1);
    align-items: center;
    align-content: center; 
    justify-content: center;
    justify-items: center;
 
}

.undone {
    border: 2px dashed rgba(182, 197, 196, 0.7);
    border-radius: 1rem;
    background-color: rgba(186, 232, 232, 0.5);
    box-shadow: 12px 12px 2px 1px rgba(182, 197, 196, 0.5);
    margin-bottom: 3rem;
    color: rgba(65, 56, 56, 0.6);

} */